:root {
    --customStyle-background: #3c3c3c;
    --customStyle-font: #000000;
    --customStyle-tabs: #C6E9D0;
    }

body {	
    background-color: var(--customStyle-background);	
}

.panel-primary, .panel-primary>.panel-heading, .awatar, h2, .modal-header {	
    border-color: var(--customStyle-tabs) !important;
}	
	
.plugin-button, .panel-primary>.panel-heading, h2, .modal-header, #goButton, #goAutoButton {	
    background-color: var(--customStyle-tabs) !important;
    color: var(--customStyle-font) !important
}
