body {	
    background-color: #604D53;	
}

.panel-primary, .panel-primary>.panel-heading, .awatar, h2, .modal-header {	
    border-color: #eb9d8c !important;
}	
	
.plugin-button, .panel-primary>.panel-heading, h2, .modal-header, #goButton, #goAutoButton {	
    background-color: #eb9d8c !important;
    background: url(https://static.vecteezy.com/system/resources/previews/000/145/064/large_2x/yellow-easter-egg-pattern-background-vector.jpg);
    background-size: 40%;
}

.plugin-button {
    background: #eb9d8c !important;	
}
